a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
// -| GRID |-
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: $font-xs;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-black;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
// -|* Container *|-
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
// -|* Title *|-
.title {
  font-size: $font-lg;
  line-height: 42px;
}
// -|* Visually Hidden *|-
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// === INDEX-COLUMNS ===
.index-columns {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // outline: 2px dotted greenyellow;
  // outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: $basic-black;
  background-color: $basic-extra-light;
  background-image:
    url("../img/line.png"),
    url("../img/bg-noise-pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}
// The titles inside of .index-columns blocks.
.news-title,
.gallery-title,
.contacts-title,
.appointment-title {
  margin: 0;
  margin-bottom: 25px;
}
// === / INDEX-COLUMNS ===

// === BUTTON ===
.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: $basic-white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: $basic-black;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  background-color: $special;
}
.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: $basic-black;
}
// === / BUTTON ===

// === BREADCRUMBS ===
.breadcrumbs {
  // outline: 2px dotted goldenrod;
  // outline-offset: -2px;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1 / -1;
  margin-bottom: 40px;

  // .breadcrumbs__item--current
  &__item--current {
    color: $basic-dark;
  }
  // .breadcrumbs__link
  &__link {
    color: $basic-black;
  }
  &__link:hover,
  &__link:focus {
    text-decoration: underline;
  }
}
// === / BREADCRUMBS ===

// === PAGINATION ===
.pagination {
  // outline: 2px dotted royalblue;
  // outline-offset: -2px;
}
// === / PAGINATION ===

// === MODAL ===
.modal {
  display: none;
  color: $basic-black;
  @include bg-pattern-light;
  box-shadow: $shadow-modal;
}

// =| LOG-IN |=
.modal-login-title {
  margin: 0;
  margin-bottom: 20px;
}

.modal-login-description {
  margin: 0;
  margin-bottom: 10px;
}

.modal-login-paragraph {
  margin: 0;
  margin-bottom: 10px;
}

.modal-login-input[type="email"],
.modal-login-input[type="password"] {
  font: inherit;
  color: $basic-black;
  text-transform: uppercase;
  background-color: $basic-extra-light;
  border: 2px solid $basic-black;
}
.modal-login-input:focus {
  border-color: $special;
}
.modal-login-icon-user,
.modal-login-icon-password {
  background-position: 270px center;
  background-repeat: no-repeat;
}
.modal-login-icon-user {
  background-image: url("../img/user.svg");
}
.modal-login-icon-password {
  background-image: url("../img/lock.svg");
}
.modal-login-help {
  margin: 15px 0;
  color: $basic-black;
  text-decoration: underline;
}
.modal-login-help:hover,
.modal-login-help:focus {
  text-decoration: none;
}
// === / MODAL ===
