a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
// -| GRID |-
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: $font-xs;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-black;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
// -|* Container *|-
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
// -|* Title *|-
.title {
  font-size: $font-lg;
  line-height: 42px;
}
// -|* Visually Hidden *|-
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// === INDEX-COLUMNS ===
.index-columns {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // outline: 2px dotted greenyellow;
  // outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: $basic-black;
  background-color: $basic-extra-light;
  background-image: url("../img/line.png"),
    url("../img/bg-noise-pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}
// The titles inside of .index-columns blocks.
.news-title,
.gallery-title,
.contacts-title,
.appointment-title {
  margin: 0;
  margin-bottom: 25px;
}
// === / INDEX-COLUMNS ===
// === BUTTON ===
.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: $basic-white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: $basic-black;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  background-color: $special;
}
.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: $basic-black;
}
// === / BUTTON ===
// === BREADCRUMBS ===
.breadcrumbs {
  // outline: 2px dotted goldenrod;
  // outline-offset: -2px;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1 / -1;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 42px;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -25px;
    width: 8px;
    height: 8px;
    background-color: $basic-black;
    transform: rotate(45deg);
  }

  &:last-child {
    margin-right: 0;
  }
}

.breadcrumbs-item--current {
  color: $basic-dark;

  &::after {
    display: none;
  }
}

.breadcrumbs-link {
  color: $basic-black;
}
.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  text-decoration: underline;
}
// === / BREADCRUMBS ===
// === PAGINATION ===
.pagination-list {
  // outline: 2px dotted royalblue;
  // outline-offset: -2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination-item--current {
  .pagination-link,
  .pagination-link:hover,
  .pagination-link:focus,
  .pagination-link:active {
    color: $basic-black;
    background-color: $basic-white;
    cursor: default;
  }
}

.pagination-link {
  display: block;
  padding: 10px 19px;
  color: $basic-white;
  background-color: $basic-black;
}
.pagination-link:hover,
.pagination-link:focus,
.pagination-link:active {
  background-color: $special;
}
// === / PAGINATION ===
// === MODAL ===
.modal {
  @include bg-pattern-light;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: $basic-black;
  box-shadow: $shadow-modal;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: -32px;
  width: 19px;
  height: 19px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/cross-gray.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: transform $transition-normal ease-in;

  &:hover {
    transform: rotate(90deg);
  }
}

// =| LOGIN |=
.modal-login {
  top: 120px;
  bottom: auto;
  width: 300px;
  padding: 50px 80px;
}

.modal-login-title {
  margin: 0;
  margin-bottom: 20px;
}

.modal-login-description {
  margin: 0;
  margin-bottom: 10px;
}

.modal-login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.modal-login-form input[type="email"],
.modal-login-form input[type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
  font: inherit;
  color: $basic-black;
  text-transform: uppercase;
  background-color: $basic-extra-light;
  border: 2px solid $basic-black;
  background-position: 270px center;
  background-repeat: no-repeat;

  &:focus {
    border-color: $special;
  }
}

.modal-login-icon-user {
  background-image: url("../img/user.svg");
}

.modal-login-icon-password {
  background-image: url("../img/lock.svg");
}

.modal-login-help {
  margin: 15px 0;
  color: $basic-black;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
// =| MAP |=
.modal-map {
  display: block;
  width: 766px;
  height: 560px;
  border: 7px solid $basic-white;

  iframe {
    border: 0;
  }

  .modal-close {
    right: -39px;
  }
}
// === / MODAL ===
