// COLORS
$basic-black: #000;
$basic-extra-dark: #242424;
$basic-dark: #6c6c6c;
$basic-neutral: #E5E5E5;
$basic-extra-light: #F8F5F2;
$basic-white: #FFF;
$basic-extra-white: #F7F7F7;

$special: #663D15;
// END COLORS

// SIZES
$font-xs: 14px;
$font-sm: 16px;
$font-md: 24px;
$font-lg: 30px;

// SHADOWS
$shadow: 0px 0px 15px rgba(#000, 0.2);
$shadow-article: 0px 0px 10px rgba(#000, 0.1);
$shadow-pic: 0px 0px 10px 2px rgba(#000, 0.1);
$shadow-pic-hover: 0px 0px 10px 2px rgba(#000, 0.2);
$shadow-modal: 0px 30px 50px rgba(#000, 0.7);

// TRANSITIONS
$transition-faster: .2s;
$transition-fast: .3s;
$transition-normal: .5s;