// === -| IMPORTS |-  === //
@import "../../node_modules/normalize.css/normalize"; //сброс стилей
@import "variables"; //переменные
@import "mixins"; //миксины
@import "global"; //глобальные стили и многоразовые элементы
// === / -| IMPORTS |-  === //
// === HEADER ===
.main-header {
  // outline: 2px dotted green;
  // outline-offset: -2px;
  margin-bottom: 70px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-sm;
  line-height: 20px;
  color: $basic-white;
  background-color: transparent;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  // outline: 2px dotted palevioletred;
  // outline-offset: -2px;
  width: 368px;
  height: 153px;
  order: 2;
  justify-self: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: $basic-black;
}

.site-navigation {
  // outline: 2px dotted aquamarine;
  // outline-offset: -2px;

  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 70px;
}

.site-navigation-item--current .site-navigation-link:not([href]) {
  border-bottom: 4px solid $basic-white;
  background-color: $basic-black;
}

.site-navigation-link,
.user-navigation-login-link {
  color: $basic-white;
  display: block;
  padding: 25px 20px;
  transition: background-color 0.2s;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.user-navigation-login-link:hover,
.user-navigation-login-link:focus {
  background-color: $basic-extra-dark;
}

.user-navigation {
  // outline: 2px dotted orangered;
  // outline-offset: -2px;
  max-width: 140px;
}

.user-navigation-login-link {
  padding-left: 50px;
  position: relative;
}
.user-navigation-login-link::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.user-navigation-login-link:hover::before,
.user-navigation-login-link:focus::before,
.user-navigation-login-link:active::before {
  opacity: 1;
}
// === / HEADER ===
// === FEATURES ===
.features {
  // outline: 2px dotted orange;
  // outline-offset: -2px;
  margin-bottom: 80px;
}
// As alternative Flexbox realization commented. Although grid is a more elegant solution.
.features-list {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  // outline: 2px dotted yellow;
  // outline-offset: -2px;
  // margin-right: 20px;
  // margin-bottom: 20px;

  width: 300px;
  text-align: center;
}

.features-item-title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
}
.features-item-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: $basic-white;
  transform: rotate(45deg);
}

// .features-item:nth-child(3n) {
//   margin-right: 0;
// }

.features-item-text {
  margin: 0 10px;
}
// === / FEATURES ===
// === NEWS ===
.news {
  // outline: 2px dotted coral;
  // outline-offset: -2px;
  width: 380px;
}

.news-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.news-list-item {
  margin-bottom: 25px;
}

.news-text {
  margin: 0;
}

.news-date {
  text-transform: none;
}
// === / NEWS ===
// === GALLERY ===
.gallery {
  // outline: 2px dotted gold;
  // outline-offset: -2px;
  width: 300px;
}

.gallery-container {
  // outline: 2px dotted peru;
  // outline-offset: -2px;

  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: $basic-dark;
  border: 7px solid $basic-white;
}

.gallery-image {
  width: 286px;
  height: 164px;
}

.gallery-button {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}
// === / GALLERY ===
// ===  CONTACTS ===
.contacts {
  // outline: 2px dotted blueviolet;
  // outline-offset: -2px;
  width: 380px;
}

.contacts-name,
.contacts-text {
  margin: 0;
}

.contacts-phone,
.contacts-text {
  margin-bottom: 25px;
}

.contacts-phone {
  display: block;
}

.contacts-text {
  width: 160px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}
// === / CONTACTS ===
// === APPOINTMENT ===
.appointment {
  // outline: 2px dotted brown;
  // outline-offset: -2px;
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  // outline: 2px dotted cornflowerblue;
  // outline-offset: -2px;

  width: 140px;
  margin-top: 0;
  margin-bottom: 10px;
}

.appointment-label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-input {
  width: 140px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  font: inherit;
  background-color: transparent;
  border: 2px solid $basic-black;
  box-sizing: border-box;
}
.appointment-input::placeholder {
  text-overflow: ellipsis;
}

.appointment-input:focus,
.appointment-input:active {
  border-color: $special;
  outline: $special;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}
// === / APPOINTMENT ===
// === FOOTER ===
.footer {
  // outline: 2px dotted red;
  // outline-offset: -2px;
  padding: 60px 0;
  margin-top: 65px;
  color: $basic-white;
  @include bg-pattern-dark;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  // outline: 2px dotted violet;
  // outline-offset: -2px;
  margin: 0;
  width: 320px;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-link,
.footer-contacts-phone {
  color: $basic-white;
  text-decoration: underline;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus,
.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  text-decoration: none;
}

.footer-social {
  // outline: 2px dotted cadetblue;
  // outline-offset: -2px;
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-social-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: $font-xs;
  display: block;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: $basic-black;
  color: inherit;
  transition: background-color 0.3s;
}

.footer-social-icon {
  path {
    transition: fill 0.3s;
  }
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: $basic-white;

  .footer-social-icon {
    path {
      fill: $basic-black;
    }
  }
}

.footer-copyright {
  // outline: 2px dotted burlywood;
  // outline-offset: -2px;
  max-width: 150px;
  margin: 0;
  justify-self: end;
  text-align: center;
}

.footer-copyright-title {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright-button {
  margin-right: 0;
  transition: all 0.3s;
}

.footer-copyright-button:hover,
.footer-copyright-button:focus {
  color: $basic-black;
  background-color: $basic-white;
}

// === / FOOTER ===
// -|| Inner Page (additional pages edits) ||-
// -| Header Logo |-
.logo {
  margin-right: 20px;
}

.inner-page {
  color: $basic-black;
  @include bg-pattern-light;

  .main-header {
    background-color: $basic-black;
  }

  .main-navigation {
    flex-direction: row;
  }

  .main-navigation__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .user-navigation {
    margin-left: auto;
  }
}

.page-title {
  // outline: 2px dotted orchid;
  // outline-offset: -2px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.page-catalogue {
  // outline: 2px dotted rebeccapurple;
  // outline-offset: -2px;
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 60px;
  align-content: start;

  .page-title {
    grid-column: 1 / -1;
  }
}
// === FILTERS ===
.filters {
  // outline: 2px dotted yellowgreen;
  // outline-offset: -2px;
  width: 180px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: $font-md;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
// FIXME: Если оставить :focus, то input остаётся окрашенным до следующего клика
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label,
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: $special;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid $basic-black;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -42px;
  width: 16px;
  height: 16px;
  border: 2px solid $basic-black;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: $basic-black;
  border-radius: 50%;
}

.filter-button {
  padding-right: 30px;
  padding-left: 30px;
}
// === / FILTERS ===
// === CATALOGUE ===
.catalogue {
  // outline: 2px dotted cyan;
  // outline-offset: -2px;
  // margin-bottom: 25px;
  // margin-left: 60px;
}

.catalogue-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalogue-item {
  width: 220px;
  min-height: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: $basic-extra-light;
  box-shadow: $shadow-article;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.catalogue-item-link {
  display: flex;
  flex-direction: column;
  color: $basic-black;
}

.catalogue-item-name {
  order: 1;
  margin-top: 17px;
  margin-right: 15px;
  margin-bottom: 12px;
  margin-left: 16px;
  font-size: $font-xs;
  line-height: 18px;
}

.catalogue-category {
  display: block;
  text-transform: none;
}

.catalogue-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
  object-fit: contain;
  background-color: $basic-extra-white;
}

.catalogue-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalogue-item-price b {
  width: 112px;
  padding: 13px 25px 11px;
  box-sizing: border-box;
  font-size: $font-xs;
  line-height: 20px;
  text-align: center;
  background-color: $basic-neutral;
}

.catalogue-item-price .button {
  padding: 13px 18px 11px;
  margin-right: 0;
  line-height: 20px;
  color: $basic-white;
}
// === / CATALOGUE ===
// === PAGE-PRODUCT ===
.page-product {
  // outline: 2px dotted palevioletred;
  // outline-offset: -2px;
  display: grid;
  grid-template-columns: 460px 1fr;
  align-content: start;

  h2 {
    order: -1;
  }
}
// === / PAGE-PRODUCT ===
// === PRODUCT-GALLERY ===
.product-gallery-full-pic {
  display: block;
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;
  box-shadow: $shadow;

  &:hover {
    box-shadow: $shadow-pic-hover;
  }
}

.product-gallery-preview {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.product-gallery-preview-item {
  width: 140px;
  height: 149px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: $shadow-pic;

  &:hover {
    box-shadow: $shadow-pic-hover;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}
// === / PRODUCT-GALLERY ===
// === PRODUCT-INFO ===
.product-info {
  // outline: 2px dotted darkslategrey;
  // outline-offset: -2px;
  width: 390px;
  padding-top: 23px;
  padding-left: 80px;
}

  .product-description {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 29px;
  }

  .product-availability,
  .product-article-id {
    margin: 0;
    width: 200px;
  }

  .product-article-id {
    text-align: right;
    color: $basic-dark;
  }

  .product-text {
    margin-bottom: 35px;
  }

  .product-price {
    display: flex;
    margin-bottom: 63px;
  }

  .product-price b {
    width: 112px;
    text-align: center;
    line-height: 20px;
    background-color: $basic-neutral;
    padding: 13px 36px 11px 36px;
    box-sizing: border-box;
  }

  .product-buy-button {
    padding-right: 17px;
    padding-left: 17px;
  }

  .product-compound-title {
    margin: 0;
    margin-bottom: 27px;
    font-size: $font-md;
    line-height: 30px;
  }

  .product-compound-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .product-compound-list-item {
    position: relative;
    padding-left: 23px;

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 2px;
      width: 8px;
      height: 8px;
      background-color: $basic-black;
      transform: rotate(45deg);
    }
  }
// === / PRODUCT-INFO ===
