// === -| IMPORTS |-  === //
@import "../../node_modules/normalize.css/normalize"; //сброс стилей
@import "variables"; //переменные
@import "mixins"; //миксины
@import "global"; //глобальные стили и многоразовые элементы
// === / -| IMPORTS |-  === //

// === HEADER ===
.main-header {
  margin-bottom: 70px;
  outline: 2px dotted green;
  outline-offset: -2px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-sm;
  line-height: 20px;
  color: $basic-white;
  background-color: transparent;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  width: 368px;
  height: 153px;
  order: 2;
  justify-self: center;
  outline: 2px dotted palevioletred;
  outline-offset: -2px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: $basic-black;
}

.site-navigation {
  outline: 2px dotted aquamarine;
  outline-offset: -2px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 620px;
  min-height: 70px;
}

.site-navigation-item--current .site-navigation-link:not([href]) {
  border-bottom: 4px solid $basic-white;
  background-color: $basic-black;
}

.site-navigation-link,
.user-navigation-login-link {
  color: $basic-white;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.user-navigation-login-link:hover,
.user-navigation-login-link:focus {
  background-color: $basic-extra-dark;
}

.user-navigation {
  outline: 2px dotted orangered;
  outline-offset: -2px;
  max-width: 140px;
  // margin-left: auto;
}

.user-navigation-login-link {
  padding-left: 50px;
}
// === / HEADER ===

// === FEATURES ===
.features {
  outline: 2px dotted orange;
  outline-offset: -2px;
  margin-bottom: 80px;
}

// As alternative Flexbox realization commented. Although grid is a more elegant solution.
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  // display: flex;
  // flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  outline: 2px dotted yellow;
  outline-offset: -2px;
  width: 300px;
  text-align: center;
  // margin-right: 20px;
  // margin-bottom: 20px;
}

// .features-item:nth-child(3n) {
//   margin-right: 0;
// }

.features-item-text {
  margin: 0 10px;
}
// === / FEATURES ===

// === NEWS ===
.news {
  outline: 2px dotted coral;
  outline-offset: -2px;
  width: 380px;
}

.news-title,
.gallery-title,
.contacts-title,
.appointment-title {
  margin: 0;
  margin-bottom: 25px;
}

.news-list {
  list-style: none;
  margin-bottom: 30px;
}

.news-list-item {
  margin-bottom: 25px;
}

.news-text {
  margin: 0;
}
// === / NEWS ===

// === GALLERY ===
.gallery {
  width: 300px;
  outline: 2px dotted gold;
  outline-offset: -2px;
}

.gallery-container {
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: $basic-dark;
  border: 7px solid $basic-white;
}

.gallery-image {
  width: 286px;
  height: 164px;
}
// === / GALLERY ===

// ===  CONTACTS ===
.contacts {
  outline: 2px dotted blueviolet;
  outline-offset: -2px;
  width: 380px;
}

.contacts-name,
.contacts-text {
  margin: 0;
}

.contacts-phone,
.contacts-text {
  margin-bottom: 25px;
}

.contacts-phone {
  display: block;
}

.contacts-text {
  width: 160px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}
// === / CONTACTS ===

// === APPOINTMENT ===
.appointment {
  outline: 2px dotted brown;
  outline-offset: -2px;
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-item {
  margin-top: 0;
  margin-bottom: 10px;
}

.appointment-input {
  width: 140px;
  font: inherit;
  background-color: transparent;
  border: 2px solid $basic-black;
}

.appointment-input:focus,
.appointment-input:active {
  border-color: $special;
  outline: $special;
}

.appointment .button {
  margin-top: 10px;
  margin-right: 0;
}
// === / APPOINTMENT ===

// === FOOTER ===
.footer {
  outline: 2px dotted red;
  outline-offset: -2px;
  margin-top: 65px;
  padding: 60px 0;
  color: $basic-white;
  @include bg-pattern-dark;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  // .footer__contacts
  &__contacts {
    outline: 2px dotted violet;
    outline-offset: -2px;
    margin: 0;
    width: 320px;
  }
  // .footer__contacts-title
  &__contacts-title {
  }
  // .footer__contacts-name
  &__contacts-name {
  }
  // .footer__contacts-address
  &__contacts-address {
    font-style: normal;
  }
  // .footer__contacts-link, .footer__contacts-phone
  &__contacts-link,
  &__contacts-phone {
    color: $basic-white;
    text-decoration: underline;
  }
  &__contacts-link:hover,
  &__contacts-link:focus,
  &__contacts-phone:hover,
  &__contacts-phone:focus {
    text-decoration: none;
  }
  // .footer__social
  &__social {
    outline: 2px dotted cadetblue;
    outline-offset: -2px;
    width: 145px;
    justify-self: center;
    text-align: center;
  }
  // .footer__social-title
  &__social-title {
    font-size: $font-xs;
  }
  // .footer__social-list
  &__social-list {
    width: 141px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  // .footer__social-item
  &__social-item {
  }
  // .footer__social-link (.social-button)
  &__social-link {
    color: inherit;
  }
  &__social-link:hover,
  &__social-link:focus {
    background-color: $basic-white;
  }
  // .footer__social-name
  &__social-name {
  }
  // .footer__social-icon
  &__social-icon {
  }
  // .footer__developed (.footer-copyright)
  &__developed {
    outline: 2px dotted burlywood;
    outline-offset: -2px;
    margin: 0;
    max-width: 150px;
    justify-self: end;
    // text-align: center;
  }
  // .footer__developed-link
  &__developed-link:hover,
  &__developed-link:focus {
    color: $basic-black;
    background-color: $basic-white;
  }
}
// === / FOOTER ===

// -|* Inner Page (additional pages edits) *|-
.inner-page {
  color: $basic-black;
  background-color: $basic-extra-light;
  @include bg-pattern-light;

  .main-header {
    background-color: $basic-black;
  }

  .main-navigation {
    align-items: flex-start;
    flex-direction: row;
  }

  .main-navigation__wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
}

.page-title {
  outline: 2px dotted orchid;
  outline-offset: -2px;
  margin: 0 0 15px 0;
  padding: 0;
}

.page-catalogue {
  outline: 2px dotted rebeccapurple;
  outline-offset: -2px;
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 60px;
  align-content: start;

  .page-title {
    grid-column: 1 / -1;
  }
}

// === FILTERS ===
.filters {
  width: 180px;
  outline: 2px dotted yellowgreen;
  outline-offset: -2px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 26px;
  font-size: $font-md;
  line-height: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: $special;
}
// === / FILTERS ===

// === CATALOGUE ===
.catalogue {
  outline: 2px dotted cyan;
  outline-offset: -2px;
  margin-bottom: 25px;
}

.catalogue-list {
  display: flex;
  flex-wrap: wrap;
}

.catalogue-item {
  width: 220px;
  height: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: $basic-extra-light;
  box-shadow: $shadow-article;
}

.catalogue-item:nth-child(3n) {
  margin-right: 0;
}

.catalogue-item-title {
  margin-top: 17px;
  margin-right: 15px;
  margin-bottom: 12px;
  margin-left: 16px;
  font-size: $font-xs;
  line-height: 18px;
  color: $basic-black;
}

.catalogue-category {
  display: block;
  text-transform: none;
}

.catalogue-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalogue-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalogue-item-price b {
  font-size: $font-xs;
  line-height: 20px;
  text-align: center;
  background-color: $basic-neutral;
}

.catalogue-item-price .button {
  margin-right: 0;
  line-height: 20px;
  color: $basic-white;
}
// === / CATALOGUE ===

// === PAGE-PRODUCT ===
.page-product {
  outline: 2px dotted palevioletred;
  outline-offset: -2px;
  display: grid;
  grid-template-columns: 460px 1fr;
  align-content: start;

  h2 {
    order: -1;
  }
}
// === / PAGE-PRODUCT ===

// === PRODUCT-GALLERY ===
.product-gallery {
  outline: 2px dotted darkkhaki;
  outline-offset: -2px;
  // .product-gallery__full-link
  &__full-link {
  }
  // .product-gallery__full-pic
  &__full-pic {
    margin: 0;
    margin-bottom: 20px;
    display: block;
  }
  // .product-gallery__preview
  &__preview {
    list-style: none;
  }
  // .product-gallery__preview-item
  &__preview-item {
    box-shadow: $shadow-pic;
  }
  &__preview-item:hover {
    box-shadow: $shadow-pic-hover;
  }
  // .product-gallery__preview-pic
  &__preview-pic {
  }
}
// === / PRODUCT-GALLERY ===
// === PRODUCT-INFO ===
.product-info {
  outline: 2px dotted darkslategrey;
  outline-offset: -2px;
  width: 390px;
  padding-top: 23px;
  padding-left: 80px;

  p {
    margin: 0;
  }

  // .product-info__description
  &__description {
    padding-right: 10px;
    margin-bottom: 29px;
  }
  &__availability,
  &__article-id {
    width: 200px;
  }
  // .product-info__availability
  &__availability {
  }
  // .product-info__article-id
  &__article-id {
    text-align: right;
    color: $basic-dark;
  }
  // .product-info__description
  &__text {
    margin-bottom: 35px;
  }
  // .product-info__price
  &__price {
    margin-bottom: 63px;
    display: flex;
  }
  // .product-info__price b
  &__price b {
    width: 112px;
    text-align: center;
    line-height: 20px;
    background-color: $basic-neutral;
  }
  // .product-info__buy-button
  &__buy-button {
    padding-right: 17px;
    padding-left: 17px;
  }
  // .product-info__compound-title
  &__compound-title {
    margin: 0;
    margin-bottom: 27px;
    font-size: $font-sm;
    line-height: 30px;
  }
  // .product-info__compound-list
  &__compound-list {
    list-style: none;
  }
  // .product-info__compound-list-item
  &__compound-list-item {
    position: relative;
  }
}
// === / PRODUCT-INFO ===
